@import "./colors";

#footer {
    text-align:  center;
    color: $white;
    padding-bottom: 50px;
    padding-top: 50px;

    a {
        color: $white;
        text-decoration:  none;
    }
   }
  