/*・゜゜・。。・゜゜DEFTONESLIVE CSS゜゜・。。・゜゜・*/

@import "./header";
@import "./footer";
@import "./colors";

@import url('https://fonts.googleapis.com/css?family=Raleway:300,300i,400&display=swap');

html body {
  background-color: $deftones-black;
}

h1, h2, h3, h4 {
  color: $white;
}

.table, .page-link, .page-item.disabled .page-link { border-color: #222; }

.react-bootstrap-table-pagination .page-item.active .page-link, .btn-secondary {
  background-color: #333 !important;
  border-color: #666 !important;
}

.center { text-align: center; }

.left { text-align: left; }

.right { text-align: right; }



 #common {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;

  p {
  	color: $white;
	}
}


/*MOBILE RESETS FOR GLOBAL TAGS*/
@media (max-width:960px) {
  #common {
    width: auto;
    padding: 0 20px;
  }
  #footer {
    padding:  0 20px;
  }
}

/*HOMEPAGE STYLES*/

 .video-container { position: relative; padding-bottom: 56.25%; padding-top: 30px; height: 0; overflow: hidden; }

 .video-container iframe, .video-container object, .video-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

 /*SONGS STYLES*/

 #albums {

  .albumgroup {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    div {
      width:75px;
    }

    img {
      width: 100%;
    }

    p {
      text-align: center;
    }
  }

  

  

 }

 /*SHOWS STYLES*/

 .react-bootstrap-table-pagination-total {
  color: $white;
 }

.btn__goBack {
  color: $white;
  font-weight: bold;
  color: black;
  width: 100px;
  padding: 4px 8px;
  float: right;
  margin-top: -40px;
}

.inputStyle {
font-size: 16px;
transform: translate(30px, -8px)
}

.searchBar {
  width: 800px;
}

.sr-only {
  display: none;
}

.setlist__container {
  background-color: $deftones-black;
  color: $white;
  padding: 30px 0;
  cursor: pointer;

  .encore {
	  margin-top: 20px;
	}
}

.page-item.active .page-link {
  z-index: 3;
  color: $white;
  background-color: rgba(128, 128, 128, 0.636) !important;
  border-color: $white !important;
}

.page-link {
  background-color: $deftones-black !important;
  color: $white !important;
}

.tape { background-color: #222; }

.search { 
	margin-bottom: 30px;

	label { display: block; }

	input { max-width: 500px; margin: 0 auto; }
}

select { 
	border-radius: .25rem;
}

.tablecontain { margin: 0 50px; }

.allTracks {
  border: 1px solid $deftones-black;
  padding: 5px;
  background-color: rgba(128, 128, 128, 0.636);
  list-style: none;
}