/*・゜゜・。。・゜゜DEFTONESLIVE CSS゜゜・。。・゜゜・*/
@import url('https://fonts.googleapis.com/css?family=Raleway:300,300i,400&display=swap');

html body {
  background-color: #0d0d0d;
}

h1, h2, h3, h4 {
  color: #fff;
}

.table, .page-link, .page-item.disabled .page-link { border-color: #222; }

.react-bootstrap-table-pagination .page-item.active .page-link, .btn-secondary {
  background-color: #333 !important;
  border-color: #666 !important;
}

.center { text-align: center; }

.left { text-align: left; }

.right { text-align: right; }

 #common {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

 #common p {
  color: #fff;
}

/*MOBILE RESETS FOR GLOBAL TAGS*/
@media (max-width:960px) {
  #common {
    width: auto;
    padding: 0 20px;
  }
  #footer {
    padding:  0 20px;
  }
}

/*HOMEPAGE STYLES*/

 .video-container { position: relative; padding-bottom: 56.25%; padding-top: 30px; height: 0; overflow: hidden; }

 .video-container iframe, .video-container object, .video-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

 /*SHOWS STYLES*/

 .react-bootstrap-table-pagination-total {
  color: #fff;
 }

.btn__goBack {
  color: #FFF;
  font-weight: bold;
  color: black;
  width: 100px;
  padding: 4px 8px;
  float: right;
  margin-top: -40px;
}

.inputStyle {
font-size: 16px;
transform: translate(30px, -8px)
}

.searchBar {
  width: 800px;
}

.sr-only {
  display: none;
}

.setlist__container {
  background-color: #0d0d0d;
  color: #FFF;
  padding: 30px 0;
  cursor: pointer;
}

.setlist__container .encore {
  margin-top: 20px;
}

.page-item.active .page-link {
  z-index: 3;
  color: #fff;
  background-color: rgba(128, 128, 128, 0.636) !important;
  border-color: #fff !important;
}

.page-link {
  background-color: #0d0d0d !important;
  color: #fff !important;
}

.tape { background-color: #222; }

.search { margin-bottom: 30px; }

.search label { display: block; }

.search input { max-width: 500px; margin: 0 auto; }

.tablecontain { margin: 0 50px; }

.allTracks {
  border: 1px solid #0d0d0d;
  padding: 5px;
  background-color: rgba(128, 128, 128, 0.636);
  list-style: none;
}



 


