/*・゜゜・。。・゜゜DEFTONESLIVE CSS゜゜・。。・゜゜・*/
@import url('https://fonts.googleapis.com/css?family=Raleway:300,300i,400&display=swap');

html body {
  background-color: #0d0d0d;
}

#header { 
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    color: #ffffff;
    text-align: center;
    padding: 50px 0 0;
    text-transform: uppercase;
 }

 #header span {
  font-weight:  300;
 }

 #header a {
  text-decoration: none;
  color: #fff;
 }

 #menu {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
 }

 #menu a {
  color: #fff;
 }

 #menu span {
  display: inline-block;
  padding: 20px;
 }

 #footer {
  text-align:  center;
  color: #fff;
  padding-bottom: 50px;
 }

 #footer a {
  color: #fff;
  text-decoration:  none;
 }

 /*SHOWS STYLES*/

 .react-bootstrap-table-pagination-total {
  color: #fff;
 }

.btn__goBack {
  color: #FFF;
  font-weight: bold;
  color: black;
  width: 100px;
  padding: 4px 8px;
  float: right;
  margin-top: -40px;
}

.inputStyle {
font-size: 16px;
transform: translate(30px, -8px)
}

.searchBar {
  width: 800px;
}

.sr-only {
  display: none;
}

.setlist__container {
  background-color: #0d0d0d;
  color: #FFF;
  padding: 30px 0;
}

.page-item.active .page-link {
  z-index: 3;
  color: #fff;
  background-color: rgba(128, 128, 128, 0.636) !important;
  border-color: #fff !important;
}

.page-link {
  background-color: #0d0d0d !important;
  color: #fff !important;
}



 .red {
  background-color: red;
 }

 .blue {
  background-color: blue;

 }

 .search { margin-bottom: 30px; }

 .search label { display: block; }

 .search input { max-width: 500px; margin: 0 auto; }

 .tablecontain { margin: 0 50px; }

 


